@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.table-wrap{
	margin-left: auto;
  	margin-right: auto;
}
#navbar{
	background-color: rgb(255, 255, 0);
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 
  font-family: 'Poppins', sans-serif;
}


 #buttono button{
  position: relative;
  height: 30px;
  width: 200px;
  margin: 1px 3px;
  border-radius: 26px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
}
#buttono button:hover{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(207,22,22,1) 35%, rgba(0,212,255,1) 100%);
  background-size: 400%;
}
.buttons button:last-child:hover{
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}
#buttono button:first-child:before,
#buttono button:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
#buttono button:first-child:hover:before,
#buttono button:last-child:hover:before{
  opacity: 1;
  z-index: -1;
}
#buttono button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}  